package templates

templ header() {
	<header>
		<section class="title-container">
			<h1 class="title">DankLyrics</h1>
			<p class="title-sub">A lyrics finder API, Website and Go package!</p>
		</section>
	</header>
}
