<div class="lyrics-requests">
  {{- range .}}
  <div id="lyrics-request-{{ .Id }}" style="background-color: #3e4637">
    <div class="lyrics-request">
      <div class="lyrics-request-meta">
        <p
          style="cursor: pointer"
          hx-get="/api/lyrics/request/{{ .Id }}"
          hx-target="#lyrics-request-{{ .Id }}-content"
          hx-swap="innerHTML"
          hx-trigger="click"
        >
          {{ .SongTitle }} by {{ .ArtistName }} from the album {{ .AlbumTitle}}
        </p>
      </div>
      <div class="lyrics-request-actions">
        <button
          hx-post="/api/lyrics/request/approve/{{ .Id }}"
          hx-target="#lyrics-request-{{ .Id }}"
          hx-swap="delete"
          hx-trigger="click"
          class="cs-btn"
          type="button"
        >
          Approve
        </button>
        <button
          hx-post="/api/lyrics/request/reject/{{ .Id }}"
          hx-target="#lyrics-request-{{ .Id }}"
          hx-swap="delete"
          hx-trigger="click"
          class="cs-btn"
          type="button"
        >
          Reject
        </button>
      </div>
    </div>
    <div id="lyrics-request-{{ .Id }}-content"></div>
  </div>
  {{- end}}
</div>
